fastapi
uvicorn
aiofiles
python-dotenv
python-multipart
qdrant-client
langchain
langchain-core
langchain-groq
langchain-google-genai
langchain-community
langchain-text-splitters
groq
google-generativeai
openai
pymupdf
pydantic
requests
streamlit
langchain-classic
pyyaml
httpx